button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
  font-size: $md-font;
  white-space: pre;
  font-family: $font-family;

  // Size
  &.small {
    font-size: $sm-font !important;
  }

  &.large {
    font-size: $lg-font;
  }

  // Color
  &.grey {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    background-color: $light-grey-color;
  }

  &.main {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    background-color: $sub-color;
    color: #fff;
  }
}
