button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    @include md-font;

    // Size
    .small {
        @include sm-font;
    }

    .large {
        @include lg-font;
    }




    // Color
    &.grey {
        padding: 10px 30px;
        border: none;
        cursor: pointer;
        background-color: $light-grey-color;
    }

    &.main {
        padding: 10px 30px;
        border: none;
        cursor: pointer;
        background-color: $sub-color;
        color: #fff;
    }
}