$columns: 24;
$gaps: 100;
$spans: 12;

@for $col from 1 through $columns {
  @for $span from 1 through $spans {
    .grids {
      display: grid;
      width: 100%;

      // Column
      &.is-#{$col}-mobile {
        @include mobile {
          display: grid;
          grid-template-columns: repeat($col, minmax(0, 1fr));
          .span-#{$span}-mobile {
            grid-column: span $span;
          }
        }
      } // mobile
      &.is-#{$col}-tablet {
        @include tablet {
          grid-template-columns: repeat($col, minmax(0, 1fr));
          .span-#{$span}-tablet {
            grid-column: span $span;
          }
        }
      } // tablet

      &.is-#{$col}-desktop {
        @include desktop {
          grid-template-columns: repeat($col, minmax(0, 1fr));
          .span-#{$span}-desktop {
            grid-column: span $span;
          }
        }
      }
      &.is-#{$col}-fullhd {
        @include fullhd {
          grid-template-columns: repeat($col, minmax(0, 1fr));
          .span-#{$span}-fullhd {
            grid-column: span $span;
          }
        }
      } // fullhd
    } // Grids
  } // @spans
} // @columns

@for $gap from 1 through $gaps {
  .grids {
    &.gap-#{$gap}-mobile {
      @include mobile {
        gap: $gap + px;
      }
    }
    &.gap-#{$gap}-tablet {
      @include tablet {
        gap: $gap + px;
      }
    }
    &.gap-#{$gap}-desktop {
      @include desktop {
        gap: $gap + px;
      }
    }
    &.gap-#{$gap}-fullhd {
      @include fullhd {
        gap: $gap + px;
      }
    }
  } // Grids
} // @gaps
