@mixin xsm-font {
    font-size: clamp(.7rem, 2.5vw, .8rem)
}

@mixin sm-font {
    font-size: clamp(.8rem, 2.5vw, .9rem)
}

@mixin md-font {
    font-size: clamp(.9rem, 2.5vw, 1rem)
}

@mixin lg-font {
    font-size: clamp(1.1rem, 2.5vw, 1.3rem)
}

@mixin xlg-font {
    font-size: clamp(1.3rem, 2.5vw, 1.5rem)
}

@mixin xxlg-font {
    font-size: clamp(1.5rem, 2.5vw, 1.7rem)
}

@mixin xxxlg-font {
    font-size: clamp(1.7rem, 2.5vw, 2rem)
}