/* @font-face {
  font-family: 'Roboto';
  src: url('../webfonts/Roboto-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../webfonts/Roboto-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../webfonts/Roboto-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../webfonts/Roboto-Black.ttf');
  font-weight: 700;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Nuanta';
  src: url('../webfonts/Nuanta-Regular.eot');
  src: url('../webfonts/Nuanta-Regular.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/Nuanta-Regular.woff2') format('woff2'),
    url('../webfonts/Nuanta-Regular.woff') format('woff'),
    url('../webfonts/Nuanta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Nuanta';
  src: url('../webfonts/Nuanta-Regular.eot');
  src: url('../webfonts/Nuanta-Regular.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/Nuanta-Regular.woff2') format('woff2'),
    url('../webfonts/Nuanta-Regular.woff') format('woff'),
    url('../webfonts/Nuanta-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nuanta';
  src: url('../webfonts/Nuanta-Bold.eot');
  src: url('../webfonts/Nuanta-Bold.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/Nuanta-Bold.woff2') format('woff2'),
    url('../webfonts/Nuanta-Bold.woff') format('woff'),
    url('../webfonts/Nuanta-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} */

@font-face {
  font-family: "Noto Sans Lao";
  src: url("webfonts/NotoSansLao-Black.eot");
  src: url("webfonts/NotoSansLao-Black.eot?#iefix") format("embedded-opentype"),
    url("webfonts/NotoSansLao-Black.woff2") format("woff2"),
    url("webfonts/NotoSansLao-Black.woff") format("woff"),
    url("webfonts/NotoSansLao-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Lao";
  src: url("webfonts/NotoSansLao-ExtraBold.eot");
  src: url("webfonts/NotoSansLao-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("webfonts/NotoSansLao-ExtraBold.woff2") format("woff2"),
    url("webfonts/NotoSansLao-ExtraBold.woff") format("woff"),
    url("webfonts/NotoSansLao-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Lao";
  src: url("webfonts/NotoSansLao-Bold.eot");
  src: url("webfonts/NotoSansLao-Bold.eot?#iefix") format("embedded-opentype"),
    url("webfonts/NotoSansLao-Bold.woff2") format("woff2"),
    url("webfonts/NotoSansLao-Bold.woff") format("woff"),
    url("webfonts/NotoSansLao-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Lao";
  src: url("webfonts/NotoSansLao-SemiBold.eot");
  src: url("webfonts/NotoSansLao-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("webfonts/NotoSansLao-SemiBold.woff2") format("woff2"),
    url("webfonts/NotoSansLao-SemiBold.woff") format("woff"),
    url("webfonts/NotoSansLao-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Lao";
  src: url("webfonts/NotoSansLao-Medium.eot");
  src: url("webfonts/NotoSansLao-Medium.eot?#iefix") format("embedded-opentype"),
    url("webfonts/NotoSansLao-Medium.woff2") format("woff2"),
    url("webfonts/NotoSansLao-Medium.woff") format("woff"),
    url("webfonts/NotoSansLao-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Lao";
  src: url("webfonts/NotoSansLao-Regular.eot");
  src: url("webfonts/NotoSansLao-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("webfonts/NotoSansLao-Regular.woff2") format("woff2"),
    url("webfonts/NotoSansLao-Regular.woff") format("woff"),
    url("webfonts/NotoSansLao-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Lao";
  src: url("webfonts/NotoSansLao-Light.eot");
  src: url("webfonts/NotoSansLao-Light.eot?#iefix") format("embedded-opentype"),
    url("webfonts/NotoSansLao-Light.woff2") format("woff2"),
    url("webfonts/NotoSansLao-Light.woff") format("woff"),
    url("webfonts/NotoSansLao-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
